.container {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.fact-check-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.fact-check-description {
    text-align: left;
    margin-top: 0.3rem;
}

.sample-claims-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.sample-claims-list {
    text-align: left;
    margin-top: 0.3rem;
    margin-bottom: 1.9rem;
}

.ui.button {
    font-family: 'Montserrat', sans-serif !important;
}


.results-header {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top: 1.9rem !important;
}

.results-description {
    text-align: left;
    margin-top: 0.3rem;
}

.results-list {
    text-align: left;
    margin-top: 0.3rem;
    margin-bottom: 1.9rem;
}

.results-list li:nth-child(5),
.results-list li:nth-child(6),
.results-list li:nth-child(7) {
    margin-left: 1.3rem;
    list-style: circle;
}